<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 채팅 참여자 -->
  
  <mapper namespace="Chat_member">
  	
  
	 
	   	 <select id="checkPrivateChat" resultType="int">
   SELECT COALESCE(
        (
            SELECT chat_seq
            FROM (
                SELECT chat_seq
                FROM chat_member
                WHERE chat_seq IN (
                    SELECT chat_seq
                    FROM chat_member
                    GROUP BY chat_seq
                    HAVING COUNT(DISTINCT member_email) = 2
                )
                GROUP BY chat_seq
                HAVING COUNT(DISTINCT member_email) = 2
                   AND SUM(CASE WHEN member_email = #{email1} THEN 1 ELSE 0 END) = 1
                   AND SUM(CASE WHEN member_email = #{email2} THEN 1 ELSE 0 END) = 1
            )
            WHERE ROWNUM = 1
        ),
        0
    ) AS chat_seq
    FROM dual
	 </select>
	 
	 
	 <insert id="insertChat">
	 	insert into chat_member values (#{chat_seq}, #{member_email}, #{role}, 0)
	 </insert>
	 
	 <select id="existDepartmentRoom" resultType="int">
	 	select count(*) from chat_member where chat_seq = #{chat_seq} and member_email = #{email}
	 </select>
	 
	 <select id="countMember" resultType="int">
	 	select count(*) from chat_member where chat_seq = #{chat_seq}
	 </select>
	 
	<update id="updateLastMessageSeq">
		update chat_member set last_message_seq = #{last_message_seq} where chat_seq = #{chat_seq} and member_email = #{member_email}
	</update>
	
	<select id="selectMember" resultType="String">
		select member_email from chat_member where chat_seq = #{chat_seq}
	</select>
	
	<select id="getLastMessageSeq" resultType="int">
  		select last_message_seq from chat_member where member_email = #{member_email} and chat_seq = #{chat_seq}
  	</select>
  	
  	<delete id="outChat">
  		delete from chat_member where chat_seq = #{chat_seq} and member_email = #{member_email}
  	</delete>	
	
	  	
  </mapper>