<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 근태관리 -->
  
 <!-- 오류 방지 예시용 고쳐쓰시오. -->
  <mapper namespace="Test">
  	<select id="test7" resultType="com.kedu.project.members.member.MemberDTO">
  		select * from member
  	</select>
  
  </mapper>