<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 사원 회원가입 등등 -->
  
  <mapper namespace="Member">
  	<insert id="insert">
  		insert into member (email, pw, name, phone, company_code, signup_at) values (#{email}, #{pw}, #{name}, #{phone}, #{company_code}, sysdate)
  	</insert>
  
  	<select id="selectByLogin" resultType="Integer"  parameterType="com.kedu.project.members.member.MemberDTO">
  		select count(*) from member where email = #{email} and pw = #{pw}
  	</select>
  	
  	<select id="selectById" resultType="Integer"  parameterType="com.kedu.project.members.member.MemberDTO">
  		select count(*) from member where email = #{email}
  	</select>
  	
  	<update id="updateByGnewpw">
  		update member set pw = #{pw} where email = #{email}
  	</update>
  	
  	<select id="selectByMypage" resultType="com.kedu.project.members.member.MemberDTO" parameterType="com.kedu.project.members.member.MemberDTO">
  		SELECT 
   			m.email,
    		m.name,
    		d.dept_name AS dept_code,
    		j.level_name AS level_code,
    		m.phone
		FROM member m JOIN department d 
			ON m.dept_code = d.dept_code AND m.company_code = d.company_code
			JOIN job_level j 
    		ON m.level_code = j.level_code
    		AND m.company_code = j.company_code
		WHERE m.email = #{email}
  	</select>
  	
  	<update id="updateMypage">
  		update member set name = #{name}, phone = #{phone} where email = #{email}
  	</update>

  	<select id="memberSearch" resultType="com.kedu.project.members.member.MemberDTO">
  		SELECT 
  			m.email,
		    m.name,
		    j.level_name as level_code
		FROM member m
		JOIN job_level j
		    ON m.level_code = j.level_code
		WHERE m.dept_code = (
		    SELECT dept_code
		    FROM member
		    WHERE email = #{email}
		)
		AND m.email != #{email}
  	</select>
  	
  	<select id="selectDepartment" resultType="String">
  		SELECT d.dept_name as dept_code
		FROM member m
		JOIN department d
		    ON m.dept_code = d.dept_code
		WHERE m.email = #{email}
  	</select>
  	
  	<select id="selectMemberName" resultType="String">
  		select name from member where email = #{member_email}
  	</select>

  </mapper>