<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 전자결재 -->

  <mapper namespace="Approval">
    <!-- 모든타입의 데이터 페이지에 맞게 가져오기 -->
  	<select id="selectfromto" resultType="com.kedu.project.approval.ApprovalDTO">
  	select *  
    		from (
        		select approval.*, row_number() over (order by approval_seq desc) as rn 
        		from approval
        		where member_email = #{member_email}
    		) sub  
    	where rn between #{start} and #{end}
    	order by rn

  	</select>
    <!-- 특정 데이터 페이지에 맞게 가져오기 -->
	<select id="selectTypeFromTo" resultType="com.kedu.project.approval.ApprovalDTO">
	    select * 
	    from (
	        select approval.*, row_number() over (order by approval_seq desc) as rn 
	        from approval 
	        where approval_status = #{approval_status} and member_email=#{member_email}
	    ) sub 
	    where rn between #{start} and #{end} 
	    order by rn
	</select>

  	
  	
  	
  	 <!-- 모든타입의 총 개수 가져오기 -->
  	<select id="getCount" resultType="int">
  		select count(*) from approval where member_email = #{email}
  	</select>
  	 <!-- 특정 타입의 총 개수 가져오기 -->
  	<select id="getTypeCount" resultType="int">
  		select count(*) from approval where member_email = #{member_email} and approval_status =#{approval_status}
  	</select> 	
  	
  	

  	
  	<select id="getType" resultType="com.kedu.project.approval.ApprovalDTO">
  		select * from approval where member_email =#{member_email} and approval_status =#{type} order by approval_at desc
  	</select>
  	
  	<select id="getDetailBySeq" resultType="com.kedu.project.approval.ApprovalDTO">
  		select * from approval where member_email =#{member_email} and approval_seq =#{seq} 
  	</select>
  
  	<update id="updateDetailBoard">
  		update approval set approval_title = #{approval_title}, approval_content = #{approval_content} where approval_seq = #{approval_seq} and member_email = #{member_email}
  	</update>  
  
	<delete id="deleteDetailBoard">
    	delete from approval where approval_seq = #{approval_seq} and member_email = #{member_email}
	</delete>

	
	<insert id="upload">
	    <selectKey keyProperty="approval_seq" resultType="int" order="BEFORE">
	        SELECT approval_seq.nextval FROM dual
	    </selectKey>
	    insert into approval (
	        approval_seq, member_email, approval_title, approval_content, approval_at, approval_status
	    )
	    values (#{approval_seq}, #{member_email}, #{approval_title}, #{approval_content}, sysdate, default)
	</insert>

  </mapper>