<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 연차 신청 -->
  

  <mapper namespace="PtoRequest">
    <!-- 모든타입의 데이터 페이지에 맞게 가져오기 -->
  	<select id="selectfromto" resultType="com.kedu.project.pto_request.Pto_requestDTO">
  		  	    select *
			    from (
			        select pto_request.*, row_number() over (order by pto_seq desc) as rn
			        from pto_request
			        where member_email = #{member_email}
			    ) sub
			    where rn between #{start} and #{end}
			    order by rn

  	</select>
    <!-- 특정 데이터 페이지에 맞게 가져오기 -->
	<select id="selectTypeFromTo" resultType="com.kedu.project.pto_request.Pto_requestDTO">
	        select *
    from (
        select pto_request.*, row_number() over (order by pto_seq desc) as rn
        from pto_request
        where pto_status = #{pto_status}
          and member_email = #{member_email}
    ) sub
    where rn between #{start} and #{end}
    order by rn

	</select>

  	
  	
  	
  	 <!-- 모든타입의 총 개수 가져오기 -->
  	<select id="getCount" resultType="int">
  		select count(*) from pto_request where member_email = #{email}
  	</select>
  	 <!-- 특정 타입의 총 개수 가져오기 -->
  	<select id="getTypeCount" resultType="int">
  		select count(*) from pto_request where member_email = #{member_email} and pto_status =#{pto_status}
  	</select> 	
  	
  	

  	
  	<select id="getType" resultType="com.kedu.project.pto_request.Pto_requestDTO">
  		select * from pto_request where member_email =#{member_email} and pto_status =#{type} order by approval_at desc
  	</select>
  	
  	<select id="getDetailBySeq" resultType="com.kedu.project.pto_request.Pto_requestDTO">
  		  SELECT 
		    p.pto_seq,
		    m.name AS member_email,
		    p.pto_status,
		    p.pto_content,
		    p.pto_start_at,
		    p.pto_end_at,
		    p.pto_used
		  FROM pto_request p
		  JOIN member m ON p.member_email = m.email
		  WHERE p.pto_seq = #{seq} 
  	</select>
  
  	<update id="updateDetailBoard">
  		update pto_request set pto_content = #{pto_content}, pto_start_at = #{pto_start_at}, pto_end_at = #{pto_end_at}
  		where pto_seq = #{pto_seq} and member_email = #{member_email}
  	</update>
  
	<delete id="deleteDetailBoard">
    	delete from pto_request where pto_seq = #{pto_seq} and member_email = #{member_email}
	</delete>

	<insert id="upload">
    	insert into pto_request (pto_seq, member_email, pto_start_at, pto_end_at, pto_used, pto_content, pto_status)
    	values (pto_request_seq.nextval, #{member_email}, #{pto_start_at}, #{pto_end_at}, #{pto_used}, #{pto_content}, default)
	</insert>
	
	<!--오늘 연차인 직원 목록가져오기-->
	<select id="findMembersOnPto" parameterType="java.time.LocalDate" resultType="string">
	  select member_email
	  from pto_request
	  where pto_status = 'y'
	    and trunc(pto_start_at) &lt;= #{today}
	    and trunc(pto_end_at) &gt;= #{today}
	</select>
  
  </mapper>