<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 일정표 -->
  
  <mapper namespace="Schedule">
  	<select id="selectMember" resultType="com.kedu.project.members.member.MemberDTO">
  		SELECT 
  			m.email,
		    m.name,
		    j.level_name AS level_code
		FROM chat_member cm
		JOIN member m 
		    ON cm.member_email = m.email
		LEFT JOIN job_level j 
		    ON m.level_code = j.level_code
		WHERE cm.chat_seq = #{chat_seq}
		  AND cm.member_email != #{member_email}
  	</select>
  
  	<insert id="savaEvent">
  		insert into schedule values(schedule_seq.nextval, #{member_email},
  		#{title}, #{all_day}, #{color}, #{start_at}, #{end_at}, sysdate, #{chat_seq})
  	</insert>
  	
  	<select id="eventsList" resultType="com.kedu.project.schedule.ScheduleDTO">
  		select * from schedule where chat_seq = #{chat_seq}
  	</select>
  		
  	<select id="eventsListByEmail" resultType="com.kedu.project.schedule.ScheduleDTO">
  		  SELECT *
		  FROM schedule
		  WHERE chat_seq = #{chat_seq}
		    <if test="excludeEmails != null and excludeEmails.size() > 0">
		      AND member_email NOT IN
		      <foreach item="email" collection="excludeEmails" open="(" separator="," close=")">
		        #{email}
		      </foreach>
		    </if>
  	</select>
  	
  	<delete id="deleteEvent">
  		delete from schedule where schedule_seq = #{schedule_seq}
  	</delete>
  </mapper>