<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 이메일 기능 -->
  <mapper namespace="Email">

    <select id="getEmailboxSeq" parameterType="map" resultType="int">
        SELECT emailbox_seq 
        FROM emailbox
        WHERE SUBSTR(member_email, 1, INSTR(member_email, '@') - 1) =
        SUBSTR(#{memberEmail}, 1, INSTR(#{memberEmail}, '@') - 1)
         AND emailbox_type = #{emailboxType}
    </select>
    
    <insert id="insertEmail" parameterType="com.kedu.project.emails.email.EmailDTO">
        <selectKey keyProperty="email_seq" resultType="int" order="BEFORE">
            SELECT email_seq.nextval FROM DUAL
        </selectKey>
        
        INSERT INTO email 
            (email_seq, emailbox_seq, james_message_uid, title, email_from, content, read, push_at)
        VALUES 
            (#{email_seq}, #{emailbox_seq}, #{james_message_uid}, #{subject}, #{sender}, #{content}, #{isRead}, SYSDATE)
    </insert>
    
    <insert id="insertEmailSender" parameterType="map">
        INSERT INTO email_sender 
            (sender_seq, email_seq, sender_email)
        VALUES 
            (sender_seq.nextval, #{emailSeq}, #{senderEmail})
    </insert>
    
    
</mapper>